<html>
  <head>
    <title>New/Edit Subject</title>
  </head>
  <body>
    <h1>{% if subject %}Edit{% else %}New{% endif %} Subject</h1>
    <form method="POST">
      <label>Name:</label>
      <input
        type="text"
        name="name"
        value="{% if subject %}{{ subject.name }}{% endif %}"
        required
      />
      <br />
      <label>Description:</label>
      <textarea name="description">
{% if subject %}{{ subject.description }}{% endif %}</textarea
      >
      <br />
      <button type="submit">Save</button>
    </form>
    <a href="/subjects">Back to Subjects</a>
  </body>
</html>
