<footer class="footer mt-auto py-3 bg-dark text-white">
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-center text-md-start">
				<p class="mb-0">&copy; 2025 Quiz Master</p>
			</div>
			<div class="col-md-6 text-center text-md-end">
				<p class="mb-0">
					<a href="mailto:24f2008474@ds.study.iitm.ac.in" class="text-white text-decoration-none me-3"> <i class="fas fa-envelope me-1"></i>24f2008474@ds.study.iitm.ac.in </a>
					<a href="https://spreadsheets600.is-a.dev/" target="_blank" class="text-white text-decoration-none"> <i class="fas fa-globe me-1"></i>Portfolio</a>
				</p>
			</div>
		</div>
	</div>
</footer>
